.history-post-title {
    color: var(--primary-color);
}

.history-post-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--primary-text-color);
    list-style: none;
}

.history-post-item-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.history-post-item-date {
    color: var(--secondary-text-color);
}

.history-post-pagination-item {
    color: var(--secondary-text-color);
    padding-right: 10px;
}