:root{
    /* dark mode */
    --dark-primary-color: #c5c6ff;
    --dark-secondary-color: #898cc8;

    --dark-primary-text-color: #e4e1e9;
    --dark-secondary-text-color: #a3a2ac;

    --dark-background-color: #131318;
    --dark-panel-color: #1c1b1f;

    /* light mode */
    --light-primary-color: #6d6faa;
    --light-secondary-color: #737388;

    --light-primary-text-color: #303036;
    --light-secondary-text-color: #5f5e67;

    --light-background-color: #fbf8ff;
    --light-panel-color: #e2e0f9;

    /* used color */
    --primary-color: #0;
    --secondary-color: #0;

    --primary-text-color: #0;
    --secondary-text-color: #0;

    --background-color: #0;
    --panel-color: #0;
}

@font-face {
    font-family: 'fusion-pixel';
    src: url('../../assets/css/webfonts/fusion-pixel-10px-monospaced-zh_hans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
}

.m-icon {
    color: var(--primary-text-color);
}

.root-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px){
    .root-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--secondary-text-color);
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: var(--secondary-text-color);
}

.icp-text {
    color: var(--secondary-text-color);
}

.main-logo {
    display: flex;
}

.main-logo-img {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-logo-txt {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    padding-top: 2px;
    margin-left: 10px;
    color: var(--primary-color);
}

.main-menu-item {
    display: inline-block;
    white-space: nowrap;
}

.main-menu-item i,
.main-menu-item a {
    display: inline-block;
}

.main-menu-link {
    margin-right: 10px;
}

.special-info-area {
    height: 340px;
    padding: 15px;
    border-radius: 4px;
    font-family: fusion-pixel, serif;
    border: var(--secondary-text-color) 1px dashed;
}

.search-wrap {
    width: 300px;
    height: 30px;
    line-height: 30px;
    display: flex;
}

.search-input {
    width: 270px;
    height: 30px;
    line-height: 30px;
    display: inline;
    border: 1px var(--secondary-color) solid;
    border-radius: 4px;
}

.search-button {
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 4px;
    border: 1px var(--secondary-color) solid;
}

.search-button:hover {
    background: var(--primary-color);
}

.theme-wrap {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 0;
    right: 30px;
    z-index: 999;
}

.theme-wrap:hover {
    color: var(--primary-color);
    cursor: pointer;
}